<section class="form-group">
	<%= form.label :description, 'Opis błędu' %>
	<%= form.text_area :description, class: "form-control" %>
</section>
<section class="form-group">
	<%= form.label :url, 'URL' %>
	<%= form.text_field :url, class: "form-control" %>
</section>