<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<h1><span class="text-success"><i class="fa fa-bug"></i></span> Edycja BUGa nr: #<%= @bug.id.to_s %></h1>
			<p><%= link_to 'Wróć do listy', new_bug_path %></p>
		</div>
		<div class="row">
			<%= form_for(@bug, html: {class: "form"}) do |form| %>
				<%# render(partial: 'form', locals: {form: 'form'}) %>
				<section class="form-group">
					<%= form.label :description, 'Opis błędu' %>
					<%= form.text_area :description, class: "form-control" %>
				</section>
				<section class="form-group">
					<%= form.label :url, 'URL' %>
					<%= form.text_field :url, class: "form-control" %>
				</section>
				<%= form.submit 'Zapisz zmiany', class: 'btn btn-default' %>
			<% end %>
		</div>
	</div>
</div>