<div class="row">
	<h1>Bugtracker Homepage</h1>
</div>

	<% if @bugs.empty? %>
		<div class="row">
			<div class="alert alert-success" role="alert">
				<h2>Brawo! Nie ma żadnych bugów!</h2>
			</div>
		</div>
	<% end %>

<div class="row">
	<p><%= link_to 'Zgłoś nowy bug', new_bug_path, class: "btn btn-danger btn-sm" %></p>
</div>

<div class="row">
	<table class="table table-hover">
		<tr>
			<th width="5%"><i>#</i></th>
			<th width="50%">Opis</th>
			<th width="30%">URL</th>
			<th width="15%">Akcje</th>
		</tr>

		<% @bugs.each do |bug| %>
			<tr>
				<td><span class="text-danger"><i class="fa fa-bug" title="To jest bug"></i></span></td>
				<td><%= link_to bug.description, bug_path(bug) %></td>
				<td><%= bug.url %></td>
				<td>
					<div class="btn-group btn-group-xs" role="group"> 
						<%= link_to 'Usuń', bug_path(bug), method: :delete, data: {confirm: "Sure?!"}, class: "btn btn-danger" %>
						<%= link_to 'Edytuj', edit_bug_path(bug), class: "btn btn-info" %>
						<%= link_to 'Usuń', bug_path(bug), method: :delete, data: {confirm: "Sure?!"}, class: "btn btn-success" %>
					</div>
				</td>
			</tr>
		<% end %>
	</table>
</div>