<div class="row">
	<div class="center-block">
		<h1><span class="text-success"><i class="fa fa-bug"></i></span> Szczegóły błędu nr: #<%= @bug.id %></h1>
		<p class="text-muted small">
			Zgłoszono <%= @bug.created_at.strftime("%d %b %Y") %> o godzinie <%= @bug.created_at.strftime("%H:%M") %>
		</p>
		<%= @bug.description %> - <span><%= @bug.url %></span>
		
		<p><%= link_to 'Wróć do listy', new_bug_path %></p>
	</div>
</div>