// Place all the styles related to the bugs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.field_with_errors {
	input[type="text"],
	textarea {
		@include box-shadow($brand-danger);
		border-color: $brand-danger;

		&:focus {
			border-color: $brand-danger;
		}
	}
	label {
		color: $brand-danger;
	}
}